.loopian-navbar-custom-menu {
    margin-bottom: 0px; /* Reducir el margen inferior */
}

.loopian-navbar-main-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 10000;
    padding-bottom: 0px; /* Añadir un relleno inferior */
    margin-left: auto; /* Aplicar margin-left auto en vista desktop */
    margin-right: 0; /* No margin-right en vista desktop */
}

.loopian-navbar-logo {
    /*position: absolute;*/
	align-content: left;
    left: 0;
    margin-top: 10px; /* Ajuste del margen superior para el logo */
}

.loopian-navbar-logo img {
    max-height: 50px;
    border: none;
}

.loopian-navbar-menu-items {
    display: flex;
    align-items: center;
}

.loopian-navbar-menu-items div {
    margin-right: 20px;
}

.loopian-navbar-main-menu a {
    text-decoration: none;
    color: #522DD7; /* Color de la fuente de los botones */
    padding: 7px; /* Reducir padding a 7px */
    background: none;
    border: none;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400; /* Cambiar font-weight a 400 */
    font-size: 18px; /* Cambiar tamaño de fuente a 18px */
}

.loopian-navbar-main-menu a:hover {
    background: none;
}

.loopian-navbar-courses-menu-item::after {
    content: '\25BC'; /* Símbolo de flecha hacia abajo */
    margin-left: 5px;
    color: #522DD7; /* Color de la flecha */
}

.loopian-navbar-courses-menu-item.open::after {
    content: '\25B2'; /* Símbolo de flecha hacia arriba */
    color: #522DD7; /* Color de la flecha */
}

.loopian-navbar-custom-dynamic-course-menu,
.loopian-navbar-custom-loopian-menu {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #181818;
    color: white;
    z-index: 9999;
    padding-top: 7px; /* Ajuste para reducir la altura del contenido */
    padding-bottom: 5px; /* Ajuste para reducir la altura del contenido */
}

.loopian-navbar-loading {
    margin: auto;
    font-size: 20px;
}

.loopian-navbar-course-categories-column, .loopian-navbar-course-list-column, .loopian-navbar-loopian-menu-column {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.loopian-navbar-course-categories, .loopian-navbar-loopian-menu {
    padding: 0;
    margin: 0;
    text-align: center; /* Centrar el texto */
}

.loopian-navbar-course-categories .loopian-navbar-category-item,
.loopian-navbar-loopian-menu .loopian-navbar-loopian-item {
    margin-bottom: 10px;
}

.loopian-navbar-course-categories .loopian-navbar-category-item > a,
.loopian-navbar-loopian-menu .loopian-navbar-loopian-item > a {
    display: block;
    padding: 10px;
    background: #181818;
    text-decoration: none;
    border: 1px solid #ddd;
    color: white;
}

.loopian-navbar-course-categories .loopian-navbar-category-item:hover > a, 
.loopian-navbar-course-categories .loopian-navbar-category-item.active > a,
.loopian-navbar-loopian-menu .loopian-navbar-loopian-item:hover > a,
.loopian-navbar-loopian-menu .loopian-navbar-loopian-item.active > a {
    background: #522dd7;
}

.loopian-navbar-course-list .loopian-navbar-course-item {
    margin: 0;
}

.loopian-navbar-course-list .loopian-navbar-course-item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #ddd;
}

.loopian-navbar-course-list .loopian-navbar-course-item a:hover {
    background: #333;
}

/* Scrollbar styling */
.loopian-navbar-course-categories-column::-webkit-scrollbar,
.loopian-navbar-course-list-column::-webkit-scrollbar,
.loopian-navbar-loopian-menu-column::-webkit-scrollbar {
    width: 12px;
}

.loopian-navbar-course-categories-column::-webkit-scrollbar-track,
.loopian-navbar-course-list-column::-webkit-scrollbar-track,
.loopian-navbar-loopian-menu-column::-webkit-scrollbar-track {
    background: #333;
}

.loopian-navbar-course-categories-column::-webkit-scrollbar-thumb,
.loopian-navbar-course-list-column::-webkit-scrollbar-thumb,
.loopian-navbar-loopian-menu-column::-webkit-scrollbar-thumb {
    background-color: #522dd7;
    border-radius: 6px;
    border: 3px solid #333;
}

/* Estilos para el panel de pantalla completa en móviles */
.loopian-navbar-fullscreen-panel {
    position: relative;
    left: 0;
    width: 100vw;
    /*height: calc(100% - 35px);*/
    background-color: white;
    z-index: 9999;
    overflow: auto;
    display: none;
}

.loopian-navbar-fullscreen-panel.active {
    display: block;
}

/* Mobile styles */
@media (max-width: 768px) {
	.et_pb_row_1_tb_header.et_pb_row {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .loopian-navbar-main-menu {
        flex-direction: row; /* Cambiar a fila */
        justify-content: space-between; /* Espacio entre el logo y el menú */
        align-items: center; /* Alinear verticalmente al centro */
        width: 100%;
        padding: 0; /* Eliminar padding */
        margin-left: 0; /* Eliminar margin-left */
    }
    .loopian-navbar-logo {
        position: relative; /* Mantener la posición relativa */
        text-align: left; /* Alinear el logo a la izquierda */
        width: auto; /* Ajustar el ancho automáticamente */
        margin: 0; /* Eliminar márgenes */
    }
    .loopian-navbar-menu-items {
        flex: 0 0 auto; /* Evitar que el menú se expanda */
        display: flex;
        justify-content: flex-end; /* Alinear el menú a la derecha */
        width: auto; /* Ajustar el ancho automáticamente */
    }
     .loopian-navbar-menu-items div:first-child {
        display: none; /* Oculta el primer ítem, que es el enlace "Home" */
    }
	
}

/* Small screen styles */
@media (min-width: 769px) and (max-width: 1000px) {
    .loopian-navbar-main-menu {
        justify-content: space-between; /* Asegura que el logo esté a la izquierda y el menú a la derecha */
        width: 100%;
        padding-right: 10px; /* Añadir padding-right para ajustar el margen */
        margin-left: 0; /* Eliminar margin-left en vista móvil */
    }
    .loopian-navbar-logo {
        flex: 1;
        text-align: left;
    }
    .loopian-navbar-menu-items {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .loopian-navbar-menu-items div {
        margin: 0 5px; /* Reducir el margen entre botones */
    }
    .loopian-navbar-menu-items div a {
        width: auto;
        text-align: left;
        font-size: 16px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
        padding: 5px; /* Reducir el tamaño del botón */
    }
    .loopian-navbar-menu-items .loopian-navbar-courses-menu-item::after {
        content: '\25BC'; /* Símbolo de flecha hacia abajo */
        margin-left: 5px;
        color: #522DD7; /* Color de la flecha */
    }
    .loopian-navbar-menu-items .loopian-navbar-courses-menu-item.open::after {
        content: '\25B2'; /* Símbolo de flecha hacia arriba */
        color: #522DD7; /* Color de la flecha */
    }
    .et_pb_row {
        width: 100% !important;
        max-width: none !important;
        margin: 0 !important;
    }
}

.loopian-navbar-loopian-menu-item {
    background-color: #D2D22D;
    border-radius: 6px;
    padding-top: 3px;
}

/* Estilo para los íconos sociales */
.loopian-navbar-social-icons {
    display: flex;
    justify-content: center;
    margin-top: 15px; /* Ajuste del margen superior para los íconos */
}

.loopian-navbar-social-icons a {
    background-color: #522DD7; /* Color de fondo */
    width: 40px; /* Ancho del ícono */
    height: 40px; /* Alto del ícono */
    margin: 0 5px; /* Espaciado entre íconos */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Hacer los íconos redondos */
    text-decoration: none;
}

.loopian-navbar-social-icons a:hover {
    background-color: #333333; /* Cambiar el color de fondo al hacer hover */
}

.social-svg-icon {
    width: 24px; /* Aumentar el tamaño de los íconos */
    height: 24px; /* Aumentar el tamaño de los íconos */
    fill: #ffffff; /* Color de los íconos */
}
