.custom-menu {
    margin-bottom: 0px; /* Reducir el margen inferior */
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10000;
    padding-bottom: 0px; /* Añadir un relleno inferior */
    margin-left: auto; /* Aplicar margin-left auto en vista desktop */
    margin-right: 0; /* No margin-right en vista desktop */
}

.logo {
    position: absolute;
    left: 0;
    margin-top: 10px; /* Ajuste del margen superior para el logo */
}

.logo img {
    max-height: 50px;
    border: none;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-items div {
    margin-right: 20px;
}

.main-menu a {
    text-decoration: none;
    color: #522DD7; /* Color de la fuente de los botones */
    padding: 7px; /* Reducir padding a 7px */
    background: none;
    border: none;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400; /* Cambiar font-weight a 400 */
    font-size: 18px; /* Cambiar tamaño de fuente a 18px */
}

.main-menu a:hover {
    background: none;
}

.courses-menu-item::after,
.loopian-menu-item::after {
    content: '\25BC'; /* Símbolo de flecha hacia abajo */
    margin-left: 5px;
    color: #522DD7; /* Color de la flecha */
}

.courses-menu-item.open::after,
.loopian-menu-item.open::after {
    content: '\25B2'; /* Símbolo de flecha hacia arriba */
    color: #522DD7; /* Color de la flecha */
}

.custom-dynamic-course-menu,
.custom-loopian-menu {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #181818;
    color: white;
    z-index: 9999;
    margin-top: 40px; /* Ajuste para reducir la altura del contenido */
}

.loading {
    margin: auto;
    font-size: 20px;
}

.course-categories-column, .course-list-column, .loopian-menu-column {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.course-categories, .loopian-menu {
    padding: 0;
    margin: 0;
}

.course-categories .category-item,
.loopian-menu .loopian-item {
    margin-bottom: 10px;
}

.course-categories .category-item > a,
.loopian-menu .loopian-item > a {
    display: block;
    padding: 10px;
    background: #181818;
    text-decoration: none;
    border: 1px solid #ddd;
    color: white;
}

.course-categories .category-item:hover > a, 
.course-categories .category-item.active > a,
.loopian-menu .loopian-item:hover > a,
.loopian-menu .loopian-item.active > a {
    background: #522dd7;
}

.course-list .course-item {
    margin: 0;
}

.course-list .course-item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #ddd;
}

.course-list .course-item a:hover {
    background: #333;
}

/* Scrollbar styling */
.course-categories-column::-webkit-scrollbar,
.course-list-column::-webkit-scrollbar,
.loopian-menu-column::-webkit-scrollbar {
    width: 12px;
}

.course-categories-column::-webkit-scrollbar-track,
.course-list-column::-webkit-scrollbar-track,
.loopian-menu-column::-webkit-scrollbar-track {
    background: #333;
}

.course-categories-column::-webkit-scrollbar-thumb,
.course-list-column::-webkit-scrollbar-thumb,
.loopian-menu-column::-webkit-scrollbar-thumb {
    background-color: #522dd7;
    border-radius: 6px;
    border: 3px solid #333;
}

/* Estilos para el panel de pantalla completa en móviles */
.fullscreen-panel {
    position: fixed;
    top: 35px;
    left: 0;
    width: 100%;
    height: calc(100% - 35px);
    background-color: white;
    z-index: 9999;
    overflow: auto;
    display: none;
}

.fullscreen-panel.active {
    display: block;
}

/* Mobile styles */
@media (max-width: 768px) {
    .main-menu {
        flex-direction: column; /* Colocar el logo y el menú en filas separadas */
        justify-content: center; /* Centrar el contenido */
        align-items: center; /* Alinear el contenido al centro */
        width: 100%;
        padding: 0; /* Eliminar padding en vista móvil */
        margin-left: 0; /* Eliminar margin-left en vista móvil */
    }
    .logo {
        position: relative; /* Cambiar la posición a relativa */
        flex: 0 0 auto; /* Evitar que el logo se expanda */
        text-align: center;
        width: 100%;
        margin-top: 0; /* Eliminar margen superior en vista móvil */
        margin-bottom: 10px; /* Añadir margen inferior para separación */
    }
    .menu-items {
        flex: 0 0 auto; /* Evitar que el menú se expanda */
        display: flex;
        justify-content: center; /* Centrar el menú */
        width: 100%;
    }
    .menu-items div {
        margin: 0 5px; /* Reducir el margen entre botones */
    }
    .menu-items div a {
        width: auto;
        text-align: left;
        font-size: 16px; /* Tamaño de fuente más pequeño para móviles */
        padding: 0; /* Eliminar el padding */
    }
    .menu-items .courses-menu-item::after,
    .menu-items .loopian-menu-item::after {
        content: '\25BC'; /* Símbolo de flecha hacia abajo */
        margin-left: 5px;
        color: #522DD7; /* Color de la flecha */
    }
    .menu-items .courses-menu-item.open::after,
    .menu-items .loopian-menu-item.open::after {
        content: '\25B2'; /* Símbolo de flecha hacia arriba */
        color: #522DD7; /* Color de la flecha */
    }
    .custom-dynamic-course-menu {
        margin-top: 80px; /* Desplazar el menú desplegable 40px más abajo */
    }
    .menu-items div:nth-child(1) {
        display: none; /* Ocultar el botón "Home" en móviles */
    }
    .et_pb_row,
    .et_pb_column .et_pb_row_inner {
        padding: 0 !important; /* Forzar padding a 0 */
    }
}

/* Small screen styles */
@media (min-width: 769px) and (max-width: 1000px) {
    .main-menu {
        justify-content: space-between; /* Asegura que el logo esté a la izquierda y el menú a la derecha */
        width: 100%;
        padding-right: 10px; /* Añadir padding-right para ajustar el margen */
        margin-left: 0; /* Eliminar margin-left en vista móvil */
    }
    .logo {
        flex: 1;
        text-align: left;
    }
    .menu-items {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .menu-items div {
        margin: 0 5px; /* Reducir el margen entre botones */
    }
    .menu-items div a {
        width: auto;
        text-align: left;
        font-size: 16px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
        padding: 5px; /* Reducir el tamaño del botón */
    }
    .menu-items .courses-menu-item::after,
    .menu-items .loopian-menu-item::after {
        content: '\25BC'; /* Símbolo de flecha hacia abajo */
        margin-left: 5px;
        color: #522DD7; /* Color de la flecha */
    }
    .menu-items .courses-menu-item.open::after,
    .menu-items .loopian-menu-item.open::after {
        content: '\25B2'; /* Símbolo de flecha hacia arriba */
        color: #522DD7; /* Color de la flecha */
    }
    .et_pb_row {
        width: 100% !important;
        max-width: none !important;
        margin: 0 !important;
    }
}
