.custom-menu {
    margin-bottom: 20px;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10000;
}

.logo {
    position: absolute;
    left: 0;
}

.logo img {
    max-height: 50px;
    border: none;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-items div {
    margin-right: 20px;
}

.main-menu a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    background: none;
    border: none;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.main-menu a:hover {
    background: none;
}

.courses-menu-item::after {
    content: '\25BC'; /* Símbolo de flecha hacia abajo */
    margin-left: 5px;
}

.custom-dynamic-course-menu {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #181818;
    color: white;
    z-index: 9999;
    margin-top: 70px;
}

.loading {
    margin: auto;
    font-size: 20px;
}

.course-categories-column, .course-list-column {
    width: 50%;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.course-categories {
    padding: 0;
    margin: 0;
}

.course-categories .category-item {
    margin-bottom: 10px;
}

.course-categories .category-item > a {
    display: block;
    padding: 10px;
    background: #181818;
    text-decoration: none;
    border: 1px solid #ddd;
    color: white;
}

.course-categories .category-item:hover > a, 
.course-categories .category-item.active > a {
    background: #522dd7;
}

.course-list .course-item {
    margin: 0;
}

.course-list .course-item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #ddd;
}

.course-list .course-item a:hover {
    background: #333;
}

/* Scrollbar styling */
.course-categories-column::-webkit-scrollbar,
.course-list-column::-webkit-scrollbar {
    width: 12px;
}

.course-categories-column::-webkit-scrollbar-track,
.course-list-column::-webkit-scrollbar-track {
    background: #333;
}

.course-categories-column::-webkit-scrollbar-thumb,
.course-list-column::-webkit-scrollbar-thumb {
    background-color: #522dd7;
    border-radius: 6px;
    border: 3px solid #333;
}

/* Estilos para el panel de pantalla completa en móviles */
.fullscreen-panel {
    position: fixed;
    top: 35px;
    left: 0;
    width: 100%;
    height: calc(100% - 35px);
    background-color: white;
    z-index: 9999;
    overflow: auto;
    display: none;
}

.fullscreen-panel.active {
    display: block;
}

/* Mobile styles */
@media (max-width: 768px) {
    .main-menu {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }
    .logo {
        flex: 1;
        text-align: left;
    }
    .menu-items {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .menu-items div {
        width: auto;
    }
    .menu-items div a {
        width: 100%;
        text-align: left;
    }
    .menu-items .courses-menu-item, 
    .menu-items div:nth-child(3), 
    .menu-items div:nth-child(4) {
        display: block;
    }
    .menu-items div:nth-child(1), 
    .menu-items div:nth-child(2) {
        display: none;
    }
}
